.title {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid red;
    padding: 0.7em;
}

nav {
    /* padding: 0.7em; */
    border-bottom: 2px solid red;
    text-align: center;
    justify-content: center;
}

a {
    color: black !important;
}